body {
  text-align: center;
  background-image: url(https://cdn.pixabay.com/photo/2020/11/06/18/53/flowers-5718624_960_720.png);
}
h1 {
  text-align: center;
}
h2 {
  font-family: "Pacifico", cursive;
}
